<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=TripManagerDB</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">taras</property>
        <property name="connection.password">0000</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.pool_size"> 1 </property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.show_sql">true</property>

        <mapping class="entity.CarType"/>
        <mapping class="entity.City"/>
        <mapping class="entity.Car"/>
        <mapping class="entity.Department"/>
        <mapping class="entity.Garage"/>
        <mapping class="entity.Driver"/>
        <mapping class="entity.Employee"/>
        <mapping class="entity.EmployeeType"/>
        <mapping class="entity.Client"/>
        <mapping class="entity.Trip"/>
        <mapping class="entity.Route"/>

    </session-factory>
</hibernate-configuration>